/* Estilo para o formulário */
.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para os rótulos */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão de envio quando o mouse passa por cima */
input[type="submit"]:hover {
    background-color: #0056b3;
}
